table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid;
    font-size: 12pt;
    alignment: center;
    padding: 5px;
}

#cal{
    text-align: center;
}

.form{
    border-style: hidden;
    font-size: 12pt;
    alignment: center;
    padding: 5px;
}